// Style for button and pseudo button for input and link

.btn {
	position: relative;
	z-index: 1;
	color: $btn_default_text_color;
	font-family: $main_font_family;
	font-size: 1.25em;
	font-weight: 400;
	padding: 3.9em 0 3.9em 4em;
	border: none;
	outline: none;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	background-color: transparent;
	text-align: center;
	max-width: 100%;
	cursor: pointer;
	border-radius: 0;

	&:before {
		content: '';
		position: absolute;
		left: 0;
		z-index: -1;
		display: block;
		width: 9em;
		height: 9em;
		border-radius: 50%;
		background: #74D414;
		transition: transform 0.4s;
		transform: scale(1);
	}

	&:hover {
		background-color: transparent;
		color: $btn_default_text_color;

		&:before {
			transform: scale(1.1);
		}
	}

	&:active {
		background-color: transparent;
		color: $btn_default_text_color;

		&:before {
			transform: scale(0.95);
		}
	}

	&_pattern {
		&:before {
			background: url("../img/patternGif.gif") 0 0 no-repeat;
			background-size: cover;
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			left: 4em;
			top: 50%;
			border-radius: 50%;
			z-index: -1;
			opacity: 0.15;
			border: 1px solid #262F1D;
			width: 30.02em;
			height: 30.02em;
			transition: transform 0.4s;
			transform: scale(1) translate(-50%, -50%);
		}

		&:hover {
			&:after {
				transform: scale(1.1) translate(-47%, -47%);
			}
		}
	}
}
