footer.footer
    .footer__top
        .footer__content
            .footer__logo
                a.logo(href="/")
                    img(src="img/logo_footer.svg", alt="")

            .footer__descr
                b Приоритет 2030 
                br
                | Создавайте будущее
            .footer__copyright &copy; CDO Global 2001-2021
